/* CSS used here will be applied after bootstrap.css */
.navbar-default {
  background: rgba(255, 255, 255, 0.81);
}

#navbar {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 202020;

}

.the-navbar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  border-color: #e7e7e7;
  z-index: 202020;
  width: 100%;
}

.the-blur {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, .4);
  z-index: 1010;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}